[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==0.12.3"
bumpversion = "*"

[dev-packages]
pytest = "*"
pytest-flask = "*"
pytest-sugar = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
