

<div class="container-fluid" id="footer-content">

    <footer class='bg-light navbar-light' id='footer'>

        <div class="row d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2">
            <!--Copyright and image credit-->
            <p class="text-center text-md-left">© 2018 Copyright: <a target="_blank" href="https://www.sdss.org"><strong>sdss.org</strong></a></p>
          </div>

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2">
            <p class="text-center text-md-left">version: {{version}}</p>
          </div>

          <!-- Grid column -->
          <div class="col-md-4 col-lg-4">
            <p class="text-center text-md-left">Telescope image credit: David R. Law</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-4 ml-lg-0">

            <!-- Social buttons -->
            <div class="text-center text-md-right">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item"><a href="https://github.com/sdss"><i class="fa fa-github" aria-hidden="true"></i></a>
                <li class="list-inline-item"><a href="https://twitter.com/sdssurveys"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a class="btn-default btn-lg" href='#'><i class="fa fa-arrow-circle-up fa-fw" aria-hidden="true"></i></a></li>
              </ul>
            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </footer>

</div>
