

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id='header'>
  <a class="navbar-brand" id='logo' target='_blank' href="https://www.sdss.org"><img src='{{url_for('static', filename='sdss-logo.png')}}'></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('index.home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class='nav-item'>
        <a class='nav-link btn btn-default' onclick='scroll_to("#gallery")' id='projects'>Projects <i class="fa fa-angle-down fa-fw" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>
