{% from 'macros.html' import picture %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id='header'>
  <a class="navbar-brand" id="logo" href="{{ logo.href }}" {% if logo.target %}target="{{ logo.target }}"{% endif %}> {{ picture(logo.picture, id=logo.id) }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('index.home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% for section in sections %}
      <li class="nav-item">
        <a class="nav-link btn btn-default" onclick='scroll_to("#{{ section.id }}")' id="{{ section.id }}nav"> {{ section.shorttitle }} </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
