{% extends "layout.html" %}
{% from 'macros.html' import picture %}

{% block body %}

    <!-- Splash Page -->
    {# Splash Page #}
    
    <section id='splash'>
        <div class="intro-header">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>Sloan Digital Sky Survey</h1>
                            <hr class="intro-divider">
                            <h3>Mapping the Universe since 1998</h3>
                            <hr class="intro-divider">
                            <h5>This is a portal to all other SDSS pages</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.intro-header -->
    </section>

    <section class='group' id='portals'>
        <div class="d-flex justify-content-center"><h2>Data Portals</h2></div>
        <div class='row'>
            <div class='col-md-12'>
                    <div class="card-deck justify-content-center">
                        <a target="_blank" href="https://data.sdss.org/sas/">
                        <div class="card text-center" id='data'>
                          <h5 class="card-header">Science Archive Server</h5>
                          <div class="card-body">
                              {{ picture('sas', id='data') }}
                              <div class="overlay">
                                <div class="text">Access SDSS images and spectra using the SAS filesystem</div>
                              </div>
                          </div>
                        </div>
                        </a>

                        <a target="_blank" href="https://skyserver.sdss.org">
                        <div class="card text-center" id='skyserver'>
                          <h5 class="card-header">SkyServer</h5>
                          <div class="card-body">
                              {{ picture('skyserver.sdss.org', id='skyserver') }}
                              <div class="overlay">
                                <div class="text">Access SDSS catalog data through a web browser</div>
                              </div>
                          </div>
                        </div>
                        </a>
                    </div> <!-- end card-deck -->
            </div>
        </div>
    </section>

    <div><hr/ class='style-two'></div>

    <section class='group' id='epo'>
        <div class="d-flex justify-content-center"><h2>Education/Public Outreach</h2></div>
        <div class='row'>
            <div class='col-md-12'>
                    <div class="card-deck justify-content-center">
                        <a target="_blank" href="https://www.sdss.org">
                        <div class="card text-center" id='sdsshome'>
                          <h5 class="card-header">SDSS Home</h5>
                          <div class="card-body">
                              {{ picture('sdss.org', id='sdsshome') }}
                              <div class="overlay">
                                <div class="text">The Sloan Digital Sky Survey home page: mapping the Universe in 3-D</div>
                              </div>
                          </div>
                        </div>
                        </a>

                        <a target="_blank" href="http://voyages.sdss.org">
                        <div class="card text-center" id='voyages'>
                          <h5 class="card-header">SDSS Voyages</h5>
                          <div class="card-body">
                              {{ picture('voyages.sdss.org', id='voyages') }}
                              <div class="overlay">
                                <div class="text">Customizable SDSS education resources for college and K-12 teachers</div>
                              </div>
                          </div>
                        </div>
                        </a>

                        <a target="_blank" href="https://blog.sdss.org/">
                        <div class="card text-center" id='blog'>
                          <h5 class="card-header">SDSS Blog</h5>
                          <div class="card-body">
                              {{ picture('sdss_blog', id='blog') }}
                              <div class="overlay">
                                <div class="text">Follow the latest news on the SDSS Science Blog.</div>
                              </div>
                          </div>
                        </div>
                        </a>
                    </div> <!-- end card-deck -->
            </div>
        </div>
    </section>

    <div><hr/ class='style-two'></div>

    <section class='group' id='data'>
        <div class="d-flex justify-content-center"><h2>Data Interaction</h2></div>
        <div class='row'>
            <div class='col-md-12'>
                    <div class="card-deck justify-content-center">
                        <a target="_blank" href="https://dr12.sdss.org/fields">
                        <div class="card text-center" id='imaging'>
                          <h5 class="card-header">Imaging</h5>
                          <div class="card-body">
                              {{ picture('imaging', id='imaging', ext='.jpg') }}
                              <div class="overlay">
                                <div class="text">Search for SDSS imaging data by individual field, in bulk, or as mosaics</div>
                              </div>
                          </div>
                        </div>
                        </a>

                        <a target="_blank" href="https://{{base_url}}/optical/">
                        <div class="card text-center" id='optical'>
                          <h5 class="card-header">Optical Spectra</h5>
                          <div class="card-body">
                              {{ picture('optical1', id='optical') }}
                              <div class="overlay">
                                <div class="text">Browse SDSS optical spectroscopic data (eBOSS, BOSS, SEGUE, SNe, SDSS-I)</div>
                              </div>
                          </div>
                        </div>
                        </a>

                        <a target="_blank" href="https://{{base_url}}/infrared/">
                        <div class="card text-center" id='infrared'>
                          <h5 class="card-header">Infrared Spectra</h5>
                          <div class="card-body">
                              {{ picture('infrared1', id='infrared') }}
                              <div class="overlay">
                                <div class="text">Browse SDSS infrared spectroscopic data (APOGEE-2, APOGEE)</div>
                              </div>
                          </div>
                        </div>
                        </a>

                        <!-- this breaks after three cards -->
                        <div class='w-100'></div>

                        <a target="_blank" href="https://{{marvin_url}}/marvin/">
                        <div class="card text-center" id='marvin'>
                          <h5 class="card-header">MaNGA Data with Marvin</h5>
                          <div class="card-body">
                              {{ picture('manga_169_v3', id='marvin', ext='.jpg') }}
                              <div class="overlay">
                                <div class="text">Browse IFU spectroscopy data for nearby galaxies using the flexible Marvin search and visualization tool (MaNGA)</div>
                              </div>
                          </div>
                        </div>
                        </a>

                        <a target="_blank" href="https://{{base_url}}/mastar/">
                        <div class="card text-center" id='mastar'>
                          <h5 class="card-header">MaNGA Stellar Library</h5>
                          <div class="card-body">
                              {{ picture('mastar', id='mastar') }}
                              <div class="overlay">
                                <div class="text">Browse high-quality, well-calibrated spectra for stars of a variety of types.</div>
                              </div>
                          </div>
                        </div>
                        </a>
                    </div> <!-- end card-deck -->
            </div>
        </div>
    </section>

{% endblock body %}

<!-- JS Code -->
{% block code %}
<script type='text/javascript'>

    // Scroll to div
    function scroll_to(location) {
      console.log(location);
        if (location !== undefined) {
            const scrolldiv = $(location);
            $('html,body').animate({scrollTop:scrolldiv.offset().top},1000, 'easeInOutExpo');
        } else {
            $('html,body').animate({scrollTop:0},1000, 'easeInOutExpo');
        }

    }

</script>
{% endblock code %}
